In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

C:\ProgramData\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)

In [27]:
#drop_duplicates
#创建数据集
data = pd.DataFrame({"a":[1,2,4,4],"b":[4,3,4,4]})

In [28]:
#去除重复值
data.drop_duplicates()

   a  b
0  1  4
1  2  3
2  4  4

In [5]:
#尝试用栈来实现分箱合并
class Stack():   #定义类
    def __init__(self):  #产生一个空的容器
        self.__list = []
    def push(self, item):  #入栈
        self.__list.append(item)
    def pop(self):  #出栈
        return self.__list.pop()
    def speek(self):  #返回栈顶元素
        return self.__list[-1]
    def is_empty(self):  #判断是否已为空
        return not self.__list
    def size(self):  #返回栈中元素个数
        return len(self.__list)

In [23]:
test = [
    (21.0, 28.0, 0, 7524),
 (28.0, 31.0, 3571, 5901),
 (31.0, 34.0, 4075, 6756),
 (34.0, 36.0, 2908, 4609),
 (36.0, 39.0, 5182, 7518),
 (39.0, 41.0, 3956, 5852),
 (41.0, 43.0, 0, 5672),
 (43.0, 45.0, 4389, 5984),
 (45.0, 46.0, 2419, 3295),
 (46.0, 48.0, 4813, 6153),
 (48.0, 50.0, 4900, 6239),
 (50.0, 52.0, 4728, 0),
 (52.0, 54.0, 0, 5003),
 (54.0, 56.0, 4677, 4014),
 (56.0, 58.0, 0, 3443),
 (58.0, 61.0, 0, 4770),
 (61.0, 64.0, 6968, 3189),
 (64.0, 68.0, 6623, 2284),
 (68.0, 74.0, 0, 1919),
 (74.0, 107.0, 7737, 1390)]
s = Stack()
#首先将列表翻转，降序
test = sorted(test,reverse=True)
#全部入栈
for i in test:
    s.push(i)
lis =[]
while not s.is_empty():
    s1 = s.pop()
    if 0 in s1[2:]:
        s2 = s.pop()
        s3 = (s1[0],s2[1],s1[2]+s2[2],s1[3]+s2[3])
        s.push(s3)
    else:
        lis.append(s1)
lis

[(21.0, 31.0, 3571, 13425),
 (31.0, 34.0, 4075, 6756),
 (34.0, 36.0, 2908, 4609),
 (36.0, 39.0, 5182, 7518),
 (39.0, 41.0, 3956, 5852),
 (41.0, 45.0, 4389, 11656),
 (45.0, 46.0, 2419, 3295),
 (46.0, 48.0, 4813, 6153),
 (48.0, 50.0, 4900, 6239),
 (50.0, 54.0, 4728, 5003),
 (54.0, 56.0, 4677, 4014),
 (56.0, 64.0, 6968, 11402),
 (64.0, 68.0, 6623, 2284),
 (68.0, 107.0, 7737, 3309)]

In [15]:
sorted(test,reverse=True)

[(74.0, 107.0, 7737, 1390),
 (68.0, 74.0, 6753, 1919),
 (64.0, 68.0, 6623, 2284),
 (61.0, 64.0, 6968, 3189),
 (58.0, 61.0, 6583, 4770),
 (56.0, 58.0, 4483, 3443),
 (54.0, 56.0, 4677, 4014),
 (52.0, 54.0, 4681, 5003),
 (50.0, 52.0, 4728, 5802),
 (48.0, 50.0, 4900, 6239),
 (46.0, 48.0, 4813, 6153),
 (45.0, 46.0, 2419, 3295),
 (43.0, 45.0, 4389, 5984),
 (41.0, 43.0, 4002, 5672),
 (39.0, 41.0, 3956, 5852),
 (36.0, 39.0, 5182, 7518),
 (34.0, 36.0, 2908, 4609),
 (31.0, 34.0, 4075, 6756),
 (28.0, 31.0, 3571, 5901),
 (21.0, 28.0, 4243, 7524)]

(1, 2, 4, 1, 2, 4)